body{
    background-image: url(images/cover_image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color:#ebebeb;
    text-align: center;
}
h1{
    color:#ebebeb ;
    font-family: monospace;
    font-size: 30px;
    text-align: left;
    margin: 0px;
    padding: 0px;
    
    

}
#descricaojv{
    font-size: 25px;
    font-family:'M PLUS 1 Code', sans-serif; 
    color: #ebebeb ;

}

.lista_nao_ordenada{
    font-size: 20px;
    font-family:'M PLUS 1 Code', sans-serif; 

}
#outras{
    font-size: 25px; 
    color:#ebebeb;
    font-family:'M PLUS 1 Code', sans-serif; 

}
#habilidades{
    font-size: 25px; 
    color:#ebebeb;
    font-family:'M PLUS 1 Code', sans-serif; 
}
 a.nav{
text-decoration: none;
border: 1px solid whitesmoke;
float:left;
padding: 10px;
margin: 10px;
background-color: royalblue;
color: white;

}
ul{
    list-style: none;
}
.listaHabilidades{
    float: left;
    position: relative;
     top:80%;
     left: 15%;
}
.listaOutras{
    position: absolute;
    top:97%;
    left:70% ;
    
}
nav{
    background-color: lightblue;
    margin: 0px;
    position: relative;
    left: 0;
    
}
article{
    margin: 150px;
}
footer{
    position: fixed;
   ;
    border-radius: 55%;
    top: 40%;
    padding: 0px;
    
}


