body{
    background-color:#212f45;
    color:#cad2c5;
    text-align: center;
}
h1{
    color:#161a1d ;
    font-family: monospace;
    font-size: 50px;
    text-align: center;
}
#descricaojv{
    font-size: 25px;
    font-family: serif;
    color: #9d0208;

}

.lista_nao_ordenada{
    font-size: 17px;
}
#outras{
    font-size: 25px; 
    color:#161a1d;
}
#habilidades{
    font-size: 25px; 
    color:#161a1d;